<launch>
  <arg name="camera_serial_left" default="14160044" />
  <arg name="camera_serial_right" default="14160053" />
  <arg name="FPS" default="50.0" />
  <arg name="LAUNCH_FLEA3" default="false" />
  <arg name="LAUNCH_RVIZ" default="false" />

  <include file="$(find tennis)/launch/flea3_camera.launch">
    <arg name="LAUNCH_FLEA3" default="$(arg LAUNCH_FLEA3)" />
    <arg name="camera_serial_left" default="$(arg camera_serial_left)" />
    <arg name="camera_serial_right" default="$(arg camera_serial_right)" />
  </include>

  <!-- Stereo reconstruction with labeling -->
  <include file="$(find tennis)/launch/stereo_ball_reconstruction.launch" >
    <arg name="LAUNCH_BASEBALL_RVIZ" value="false" />
    <arg name="LAUNCH_TENNIS_RVIZ" value="$(arg LAUNCH_RVIZ)" />
    <arg name="CAMERA_NAMESPACE" value="/flea3_camera" />
    <arg name="BASELINE_LENGTH" value="0.1066459431" />
    <arg name="FOCAL_LENGTH" value="1134.306833" />
    <arg name="PRINCIPAL_POINT_X" value="660.996590" />
    <arg name="PRINCIPAL_POINT_Y" value="519.770313" />
    <arg name="FPS" value="$(arg FPS)" />
  </include>

  <!-- UKF ball prediction -->
  <include file="$(find tennis)/launch/ukf_ball_prediction.launch" >
    <arg name="BASEBALL" value="false" />
    <arg name="TENNIS" value="true" />
  </include>

</launch>
