<launch>
  <arg name="LAUNCH_BASEBALL_RVIZ" default="true" />
  <arg name="LAUNCH_TENNIS_RVIZ" default="false" />

  <arg name="CAMERA_NAMESPACE" default="/wide_stereo" />

  <arg name="BASELINE_LENGTH" default="0.3198031834" />
  <arg name="FOCAL_LENGTH" default="4102.126142" />
  <arg name="PRINCIPAL_POINT_X" default="548.92025" />
  <arg name="PRINCIPAL_POINT_Y" default="239.834766" />
  <arg name="FPS" default="60.0" />

  <group ns="stereo_reconstruction" >
    <!-- setting -->
    <!-- B = - Tx / fx' -->
    <rosparam param="baseline_length" subst_value="True"> $(arg BASELINE_LENGTH) </rosparam>
    <!-- fx', fy' -->
    <rosparam param="focal_length" subst_value="True"> $(arg FOCAL_LENGTH) </rosparam>
    <!-- cx' -->
    <rosparam param="principal_point_x" subst_value="True"> $(arg PRINCIPAL_POINT_X) </rosparam>
    <!-- cy' -->
    <rosparam param="principal_point_y" subst_value="True"> $(arg PRINCIPAL_POINT_Y)  </rosparam>
    <rosparam param="fps" subst_value="True"> $(arg FPS) </rosparam>

    <node name="left_ball_centroid" pkg="baseball" type="ball_filter" output="screen" >
      <remap from="image_rect_color" to="$(arg CAMERA_NAMESPACE)/left/image_rect_color" />
      <remap from="center_point" to="left/center_point" />
      <remap from="roi_image" to="left/roi_image" />
    </node>
    <node name="right_ball_centroid" pkg="baseball" type="ball_filter" output="screen" >
      <remap from="image_rect_color" to="$(arg CAMERA_NAMESPACE)/right/image_rect_color" />
      <remap from="center_point" to="right/center_point" />
      <remap from="roi_image" to="right/roi_image" />
    </node>
    <node name="stereo_ball_pos" pkg="baseball" type="depth_calculation" output="screen" >
      <remap from="left_center_point" to="left/center_point" />
      <remap from="right_center_point" to="right/center_point" />
      <remap from="ball_pos_3D" to="observation/ball_pos" />
    </node>
  </group>
  <group if="$(arg LAUNCH_BASEBALL_RVIZ)">
    <node name="ball_rviz" pkg="rviz" type="rviz" args="-d $(find baseball)/config/stereo_baseball.rviz" output="screen" > </node>
  </group>
  <group if="$(arg LAUNCH_TENNIS_RVIZ)">
    <node name="ball_rviz" pkg="rviz" type="rviz" args="-d $(find baseball)/config/stereo_tennis.rviz" output="screen" > </node>
  </group>

</launch>
