<launch>
  <arg name="svo_file" default="" />
  <arg name="RESOLUTION" default="2" />
  <arg name="FPS" default="60.0" />
  <arg name="LAUNCH_ZED" default="false" />
  <arg name="LAUNCH_RVIZ" default="false" />

  <include file="$(find tennis)/launch/zed_camera.launch">
    <arg name="svo_file" value="$(arg svo_file)" />
    <arg name="RESOLUTION" value="$(arg RESOLUTION)" />
    <arg name="FPS" value="$(arg FPS)" />
    <arg name="LAUNCH_ZED" value="$(arg LAUNCH_ZED)"/>
  </include>

  <!-- Stereo reconstruction with labeling -->
  <include file="$(find tennis)/launch/stereo_ball_reconstruction.launch" >
    <arg name="LAUNCH_BASEBALL_RVIZ" value="false" />
    <arg name="LAUNCH_TENNIS_RVIZ" value="$(arg LAUNCH_RVIZ)" />
    <arg name="CAMERA_NAMESPACE" value="/zed_camera" />
    <arg name="BASELINE_LENGTH" value="0.12000000132" />
    <arg name="FOCAL_LENGTH" value="690.0758666992188" />
    <arg name="PRINCIPAL_POINT_X" value="326.2436218261719" />
    <arg name="PRINCIPAL_POINT_Y" value="240.0266571044922" />
    <arg name="FPS" value="$(arg FPS)" />
  </include>

  <!-- UKF ball prediction -->
  <include file="$(find tennis)/launch/ukf_ball_prediction.launch" >
    <arg name="BASEBALL" value="false" />
    <arg name="TENNIS" value="true" />
  </include>

</launch>
