<launch>
  <arg name="svo_file" default="" />
  <arg name="RESOLUTION" default="2" />
  <arg name="FPS" default="60" />
  <arg name="LAUNCH_ZED" default="true" />
  <!-- <arg name="create_manager" default="true" /> -->
  <!-- <arg name="manager" default="stereo_manager" /> -->

  <group if="$(arg LAUNCH_ZED)" >
    <include file="$(find zed_wrapper)/launch/zed_tf.launch" />

    <group ns="zed_camera">
      <!-- ZED ROS wrapper -->
      <node name="zed_wrapper_node" pkg="zed_wrapper"
            type="zed_wrapper_node" args="$(arg svo_file)"
            output="screen" >
        <param name="resolution"            value="$(arg RESOLUTION)" />
        <param name="quality"               value="2" />
        <param name="sensing_mode"          value="1" />
        <param name="frame_rate"            value="$(arg FPS)" />

        <param name="rgb_topic"            value="rgb/image_rect_color" />
        <param name="rgb_cam_info_topic"   value="rgb/camera_info" />
        <param name="rgb_frame_id"         value="/zed_optical_frame" />

        <param name="left_topic"            value="left/image_rect_color" />
        <param name="left_cam_info_topic"   value="left/camera_info" />
        <param name="left_frame_id"         value="/zed_optical_frame" />

        <param name="right_topic"            value="right/image_rect_color" />
        <param name="right_cam_info_topic"   value="right/camera_info" />
        <param name="right_frame_id"         value="/zed_optical_frame" />

        <param name="depth_topic"            value="depth/image_rect_color" />
        <param name="depth_cam_info_topic"   value="depth/camera_info" />
        <param name="depth_frame_id"         value="/zed_optical_frame" />

        <param name="point_cloud_topic"     value="point_cloud/cloud" />
        <param name="cloud_frame_id"        value="/zed_optical_frame" />
      </node>

      <!--  Stereo image processing -->
      <!-- <node if="$(arg create_manager)" -->
      <!--       pkg="nodelet" type="nodelet" name="$(arg manager)" -->
      <!--       args="manager" output="screen"/> -->
      <!-- <node pkg="nodelet" type="nodelet" name="disparity_image_proc" -->
      <!--       args="load stereo_image_proc/disparity $(arg manager)" output="screen"> -->
      <!--   <remap from="left/image_rect" to="left/image_rect_color" /> -->
      <!--   <remap from="right/image_rect" to="right/image_rect_color" /> -->
      <!-- </node> -->
      <!-- <node pkg="nodelet" type="nodelet" name="point_cloud2_image_proc" -->
      <!--       args="load stereo_image_proc/point_cloud2 $(arg manager)" output="screen"> -->
      <!-- </node> -->

      <!-- Show image_view -->
      <node name="zed_image_view" pkg="rqt_gui" type="rqt_gui" output="screen" />
    </group>
  </group>

</launch>
